<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Live Bus Time.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B3A6B5C21F926C200D3CABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B3A6B7021F926C400D3CABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B3A6B7B21F926C400D3CABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
